<select id="subtipo"
    class="mt-2 form-select form-select-sm form-control" name="subtipo" required>
    <option hidden value="">Seleccione el motivo de su aviso</option>
    <optgroup label="Administraci贸n digital">
        <option value="RE">Registro electr贸nico</option>
        <option value="SE">Sede electr贸nica</option>
    </optgroup>
    <optgroup label="Comunicaciones">
        <option value="CE">Correo electr贸nico </option>
        <option value="GM">Google Meet</option>
        <option value="CA">Cuenta de Alumno</option>
    </optgroup>
    <optgroup label="Web">
        <option value="PE">Portal de eventos</option>
    </optgroup>
</select>