<select id="subtipo"
    class="mt-2 form-select form-select-sm form-control" name="subtipo" required>
    <option hidden value="">Seleccione el motivo de su aviso</option>
    <optgroup label="Administración digital">
        <option value="CDPF">Certificado digital de personal física </option>
        <option value="CEEP">Certificado electrónico de empleado público</option>
        <option value="RE">Registro electrónico</option>
        <option value="SE">Sede electrónica</option>
        <option value="PORT">Portafirmas</option>
    </optgroup>
    <optgroup label="Comunicaciones">
        <option value="CE">Correo electrónico </option>
        <option value="GM">Google Meet</option>
        <option value="CP">Cuenta de personal</option>
        <option value="CG">Cuenta genérica</option>
    </optgroup>
    <optgroup label="Conectividad">
        <option value="CCD">Conexión por cable en despachos</option>
        <option value="CC">Cortafuegos corporativo </option>
        <option value="VPN">VPN Acceso remoto</option>
        <option value="WIFIE">Wifi Eduroam (ssid: eduroam) </option>
        <option value="WIFIV">Wifi para visitantes (ssid: UCM-Visitantes)</option>
    </optgroup>
    <optgroup label="Docencia">
        <option value="AV">Aula virtual</option>
        <option value="BC">Blackboard Collaborate</option>
        <option value="LC">Listados de clase</option>
        <option value="MOODLE">Moodle: Aula Global</option>
        <option value="PCOP">Plataforma de cursos online Privados</option>
    </optgroup>
    <optgroup label="Web">
        <option value="AW">Analítica Web</option>
        <option value="SSL">Emisión de certificados SSL</option>
        <option value="HOST">Hosting: alojamiento de páginas web</option>
        <option value="PE">Portal de eventos</option>
        <option value="RW">Redirecciones web</option>
    </optgroup>
</select>