<select id="subtipo"
    class="mt-2 form-select form-select-sm form-control" name="subtipo" required>
    <option hidden value="">Seleccione el motivo de su aviso</option>
    <optgroup label="Administración digital">
        <option value="Certificado digital de personal física">Certificado digital de personal física </option>
        <option value="Registro electrónico">Registro electrónico</option>
        <option value="Sede electrónica">Sede electrónica</option>
    </optgroup>
    <optgroup label="Comunicaciones">
        <option value="Correo electrónico">Correo electrónico </option>
        <option value="Google Meet">Google Meet</option>
        <option value="Cuenta de Alumno">Cuenta de Alumno</option>
    </optgroup>
    <optgroup label="Conectividad">
        <option value="Cortafuegos corporativo">Cortafuegos corporativo </option>
        <option value="VPN Acceso remoto">VPN Acceso remoto</option>
        <option value="Wifi Eduroam (ssid: eduroam)">Wifi Eduroam (ssid: eduroam) </option>
    </optgroup>
    <optgroup label="Docencia">
        <option value="Aula virtual">Aula virtual</option>
        <option value="Moodle: Aula Global">Moodle: Aula Global</option>
        <option value="Plataforma de cursos online Privados">Plataforma de cursos online Privados</option>
    </optgroup>
    <optgroup label="Web">
        <option value="Portal de eventos">Portal de eventos</option>
    </optgroup>
</select>