<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>PV1</title>
    <!-- Por Eros Guerrero Sosa y Cristina Díez Sobrino-->
    <link rel="stylesheet" href="css/tasksScreen.css" />
    <link rel="stylesheet" media="print" href="css/tasksPrint.css" />
    <link rel="icon" type="image/x-icon" href="/img/favi.png" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" herf="http.//fonts.googleapis.com/css" family="Helvetica" />
</head>

<body>
    <p>Página prnicipal</p>

</body>

</html>